*{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
body{
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: antiquewhite;
}
main{
    padding: 10px;
}
.cardSection{
    
}
.flightCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 2.5%;
    box-shadow: 0 2px 5px black;
    background-color: white;
    padding: 5px;

}
.flightDes{

}
.desImg{
    width: 95%;
    border: 2px solid black;
    border-radius: 2.5%;
    box-shadow: 0 2px 5px black;
}
.gateNum{
    color: red;
}