html{
    scroll-behavior: smooth;
}
body{
    direction: ltr;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: antiquewhite;
}
main{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.cardSection{
    flex: 5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: space-evenly;
    border: 2px solid black;
}
.supportSection{
    flex: 1;
    align-items: right;
    border: 2px solid black;
}
.card{
    border: 2px solid black;
    width: 400px;
}
#bestCard{
    background-color: aqua;
}
.cTitle{

}
.cPrice{

}
.cBenifits{

}
.cList{

}
.listItem{
    
}